.content_portfolio{
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
}


.multiple_img_portfolio{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 48px;
}


.portfolio_name{
   padding-top: 49px;
}


